@import "mixins";

#admin_team{
      
      max-width: 1050px;
      margin-left: auto;
      margin-right: auto;

      & .Team, & .Members{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            row-gap: 10px;
            padding: 20px 10px;
            margin-left: auto;
            margin-right: auto;
            
            @media screen AND (min-width: 550px) {
                  align-items: center;
            }
            
            &-title{
                  margin: 0;
            }
            
            & .Card-modify, & .Card-delete{
                  position: initial;
                  padding: 0;
            }
            
            &-img{
                  width: 100%;
                  max-width: 380px;
            }
            
      }
      
      & .Members{
            
            &-creation{
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  align-items: flex-start;
                  justify-content: center;
                  row-gap: 10px;
                  padding: 40px 0;
      
                  @media screen AND (min-width: 550px) {
                        align-items: center;
                  }
                  
                  &-title{
                        margin: 0;
                  }
                  
                  & .Card-create-button{
                        position: initial;
                        padding: 0;
                        
                        &.hidden{
                              animation: hideElt 1.4s both;
                              opacity: 0;
                        }
                        
                  }
                  
                  &-form{
                        padding: 30px 0;
                        animation: showElt 1.4s both;
                        opacity: 100%;
                        
                        &.hidden{
                              display: none;
                        }
                        
                        & .ModifyForm{
                              display: flex;
                              flex-direction: column;
                              flex-wrap: wrap;
                              justify-content: center;
                              align-content: center;
                              align-items: flex-start;
                              padding: 80px 10px 30px 10px;
                              border: solid 2px $secondColor;
                              position: relative;
                              
                              & .Card{
                                    
                                    &-cancel{
                                          position: absolute;
                                          top: 20px;
                                          left: 30px;
                                    }
      
                                    &-save{
                                          position: absolute;
                                          top: 20px;
                                          left: 90px;
                                    }
      
                                    &-Header{
            
                                          & .Card-title{
                                                position: initial;
                                          }
            
                                    }
      
                                    &-entry_date{
                                          display: flex;
                                          flex-direction: row;
                                          align-items: center;
                                          padding: 10px 0;
                                          justify-content: center;
                                          flex-wrap: wrap;
                                          column-gap: 10px;
                                          margin-left: auto;
                                          margin-right: auto;
            
                                    }
                                    
                              }
                              
                              
                        }

                        
                  }
                  
            }
            
            
            &-list{
                  width: 100%;
                  text-align: left;
                  padding: 30px 0;
                  
                  & .Member{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: flex-start;
                        row-gap: 20px;

                        @media screen AND (min-width: 550px) {
                              font-size: 1.2em;
                        }
                        
                        & h3, & p{
                              margin: 0;
                        }
                        
                        &-imgList{
                              
                              &-img{
                                    width: 100%;
                                    object-fit: cover;
                                    max-width: 380px;
                                    max-height: 450px;
                              }
                        }
                  }
                  
            }
      }


}