@import "mixins";


.layout-back.Header{
      .Header-menu-links{
                  justify-content: space-around;
            }
}

.Search{
      
      & .Card-create{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            margin: 15px;
            
            &.hidden{
                  display: none;
            }
            
            &-form{
                  
                  &.hidden{
                        display: none;
                  }
                  
                  margin: 20px auto;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  justify-content: center;
                  border: solid $firstDarkColor;
                  max-width: 300px;

                  @media screen AND (min-width:550px) {
                        text-align: left;
                        padding: 15px;
                        max-width: 360px;
                  }
      
                  @media screen AND (min-width:750px) {
                        position: relative;
                        max-width: 700px;
                  }
      
                  & .Card-create-title{
                        width: 100%;
                        text-align: center;
                  }
      
                  & .ModifyForm{
      
                        @media screen AND (min-width:750px) {
                              width: 100%;
                        }
                        
                        & .group-list{
                              @media screen AND (min-width:750px) {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
      
                                    textarea{
                                          width: 300px;
                                    }
                              }
                              

                        }

            
                        & .Card-Header{
      
                              margin: 0;
                              padding-top: 10px;
                              
                              @media screen AND (min-width:550px) {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    padding: 25px 0;
                              }
                              
                              & .Card-title{
                                    height: 20px;
                                    @media screen AND (min-width:550px) {
                                          position: relative;
                                          width: 75%;
                                          transform: translate(0%, 0%);
                                          left: 0;
                                          top: 10px;
                                    }
                              }
                              
                              &-title{
                                    margin: 0;
                                    height: 20px;
                              }
                        }
                        
                        & .Card-recipe, & .Card-desc{
                              justify-content: center;
                        }
                  }
                  
            }
            
            &-button{
                  width: 35px;
                  height: 35px;
                  padding: 10px;
                  transition: 0.5s;
                  
                  &:hover{
                        width: 40px;
                        height: 40px;
                        transition: 0.5s;
                  }
            }
            &-title{
                  padding-left: 5px;
                  font-family: $typoTitre;
            }
      }
      
      &-title{
            font-family: $typoTitre;
      }
      
      .Cards{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            
            @media screen AND (min-width:550px){
                  display: flex;
                  flex-wrap: wrap;
                  flex-direction: row;
                  justify-content: center;
                  align-items: stretch;
            }
      }
      
      & .Card{
            border: solid 2px;
            height: auto;
            width: 320px;
      
            @media screen AND (min-width:550px) {
                  width: 360px;
                  text-align: left;
                  padding: 15px;
            }
            
           
            
            &-Header{
                  
                  @media screen AND (min-width:550px) {
                        padding: 5px;
                        display: flex;
                        flex-direction: column-reverse;
                  }
            }
            
            &-modify, &-delete, &-cancel, &-save{
                  background-color: transparent;
                  width: 35px;
                  height: 35px;
                  padding: 10px;
                  transition: 0.5s;
                  
                  &:hover{
                        width: 40px;
                        height: 40px;
                        transition: 0.5s;
                  }
                  
            }
            &-modify, &-cancel{
                  position: relative;
                  top: 10px;
                  
                  @media screen AND (min-width:550px) {
                        position: absolute;
                        top: 20px;
                        right: 0;
                  }
            }
            
            &-delete, &-save{
                  position: relative;
                  top: 10px;
      
                  @media screen AND (min-width:550px) {
                        position: absolute;
                        top: 80px;
                        right: 0;
                  }
            }
      
            &-title{
                  margin: 5px;
                  position: relative;
                  top: 25px;
                  font-size: 1.6em;
                  padding: 10px;
      
                  @media screen AND (min-width:550px) {
                        width: 100%;
                        padding: 5px;
                  }
            }
            
            &-imgBox{
                  padding: 10px 0;

      
                  @media screen AND (min-width:550px) {
                        padding: 5px;
                  }
                  
                  &-img{
                        padding: 5px;
                        height: 100px;
                        width: 300px;
      
                        @media screen AND (min-width:550px) {
                              padding: 5px;
                              width: 85%;
                        }
                  }
            }
            
            &-recipe{
                  text-shadow: none;
                  opacity: 100%;
                  position: relative;
                  top: 0;
                  &-text{
                        text-align: center;
                  }

            }
            
            &-desc{
                  text-shadow: none;
                  position: relative;
                  top: 0;

            }
            
            &-recipe, &-desc {
                  @media screen AND (min-width: 550px) {
                        left: 0;
                        transform: translateX(0%);
                  }
            }
            
            &-category,
            &-recipe,
            &-desc,
            &-status,
            &-frequency
            {
                  display: block;
                  padding: 5px 0;
                  
                  @media screen AND (min-width:550px) {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                  }
                  
                  &-title, &-text{
                      margin: 5px;
                  }
                  
                  &-text{
                        font-family: $typoTexte;
                  }
            }

      }
}

.Filters{

      &-magic,
      &-category,
      &-status,
      &-frequency{
            width: auto;
            font-family: $typoTitre;
            color: $blackColor;
            display: inline;
            border: solid 1px $whiteColor;
            border-radius: 100px;
            padding: 5px 10px;
            margin: 5px;
            text-decoration: none;
            text-align: left;
      }
}


