@import "mixins";

.Partenaire{
      font-family: $typoTexte;
      font-size: 1em;
      
      &-modify, &-delete{
            img.Card-modify, img.Card-delete{
                  position: initial;
            }
      }
}

#admin_company{
      
      .Card{
            &-title{
                  margin: 0;
                  width: fit-content;
                  height: auto;
            }
            

      }
      
      .ModifyForm{
            
            & .Card{
                  
                  &-Header{
                        @media screen AND (min-width: 550px) {
                              display: flex;
                              flex-direction: column;
                              flex-wrap: wrap;
                              align-items: flex-start;
                        }
            
                  }
            }
      }
}
