@import "mixins";

#admin_presentation{

      .Presentation{
      
            &-gamme, &-produits, &-partenaires{
                  padding: 20px 10px;
                  text-align: left;
                  
                  @media screen AND (min-width: 550px) {
                        position: relative;
                        
                        .Card-modify{
                              position: absolute;
                              top: 28px;
                              right: 65px;
                        }
                        
                        .Card-delete{
                              position: absolute;
                              top: 28px;
                              right: 15px;
                        }
                        
                  }
                  
                  @media screen AND (min-width: 750px) {
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                  }
      
                  &-title{
                        font-family: $typoTitre;
                        font-size: 1.6em;
            
                        @media screen AND (min-width: 550px) {
                              font-size: 1.8em;
                        }
            
                        @media screen AND (min-width: 1050px) {
                              font-size: 2em;
                        }
            
                  }
                  
                  &-text{
                        font-family: $typoTexte;
                        font-size: 1em;
                        
                        @media screen AND (min-width: 550px) {
                              font-size: 1.2em;
                        }
      
                        @media screen AND (min-width: 1050px) {
                              font-size: 1.4em;
                        }
                        
                  }
                  
            }
      
      }


}