@import "mixins";

form.Card.ModifyForm {
      margin: 0;
      padding: 0;
      border: 0;
      text-align: center;
      
      input{
            border: 0;
            background-color: transparent;
            color: $whiteColor;
            font-family: $typoTitre;
            Font-weight: bold;
            
            &#name{
                  text-align: center;
                  height: 20px;
                  font-family: $typoTitre;
                  text-shadow: none;
            }
      }
      
      input.Card-title{
            background-color: $whiteColor;
            color: $blackColor;
            position: relative;
            top: 25px;
            left: 135px;
      
            @media screen AND (min-width:550px)  {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  align-items: center;
            }
      }
      
      textarea, input.Card-title{
            min-width: 250px;
            border-radius: 10px;
            padding: 8px;
            font-family: $typoTexte;
      
            @media screen AND (min-width:550px)  {
                  width: 250px;
                  height: 65px;
            }
      }
      
      textarea{
            min-height: 60px;
      }
      
      & .Card-Header{
            display: flex;
            flex-direction: column;
            align-items: center;
      
            @media screen AND (min-width:550px)  {
                  flex-direction: row;
            }
            
            h3{
                  margin: 0;
            }

      }
      
      .Card-cancel, .Card-save{
            @media screen AND (min-width:550px)  {
                  position: absolute;
                  right: -5px;
            }
      }
      .Card-cancel{
            @media screen AND (min-width:550px)  {
                  top: 0;
            }
      }
      .Card-save{
            @media screen AND (min-width:550px)  {
                  top: 60px;
            }
      }
      
      .Card-imgBox{
            @media screen AND (min-width:550px)  {
                  text-align: left;
            }
      }
      
      .Card-title{
            width: 250px;
      }
      
}