@import "mixins";

.Partenaire{
      font-family: $typoTexte;
      font-size: 1em;
      
      &-modify, &-delete{
            img.Card-modify, img.Card-delete{
                  position: initial;
            }
      }
}

#admin_partenaires{
      
      .Search-form{
            padding: 10px 0;
      }
      
      .Card{
            &-title{
                  position: initial;
                  width: auto;
            }
            

      }
      
      .ModifyForm{
            
            @media screen AND (min-width: 750px) {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  flex-wrap: wrap;
            }
            
            & .Card{
                  
                  &-Header{
                        @media screen AND (min-width: 550px) {
                              display: flex;
                              flex-direction: column;
                              flex-wrap: wrap;
                              align-items: flex-start;
                        }
                        
                        &-title{
                              padding: 5px 0;
                        }
                        
                        & input#name{
                              position: initial;
                        }

            
                  }
                  
                  &-desc{
                        justify-content: left;
                  }
                  
                  &-Header,
                  &-localisation,
                  &-supply,
                  &-desc,
                  &-site{
                        @media screen AND (min-width: 750px) {
                              flex-direction: column;
                              align-items: center;
                        }
                  }
                  
                  &-localisation{
                        
                        & input.Card-title{
                              position: initial;
                              border: solid 1px;
                        }
                        
                  }
                  
            }
      }
}
