@import "mixins";

#admin_products{
      
      & #Cards{
            
            .Card{
                  @media screen AND (min-width: 550px) {
                        position: relative;
                  }
                  &-Header{
                        
                        h2.Card-title{
                              position: initial;
                              margin: 0;
                              font-size: 1.6em;
                              padding: 10px;
                              width: auto;
                        }
                  }
                  
                  &.modify{
                        form.Card.ModifyForm{
                              .Card{
                                    &-Header{
                                          input.Card-title#name{
                                                position: initial;
                                          }
                                    }
                              }
                        }
                  }

            }
      }
      

      
}

form.Card.ModifyForm {
      margin: 0;
      padding: 0;
      border: 0;
      text-align: center;
      
      input{
            border: 0;
            background-color: transparent;
            color: $blackColor;
            font-family: $typoTitre;
            Font-weight: bold;
            
            &#name{
                  text-align: center;
                  height: 20px;
                  font-family: $typoTitre;
                  text-shadow: none;
                  border: solid 1px;
            }
            
            &#localisation{
                  font-family: $typoTexte;
                  text-shadow: none;
                  font-size: 0.8em;
                  font-weight: initial;
            }
      }
      
      input.Card-title{
            background-color: $whiteColor;
            color: $blackColor;
            position: relative;
            top: 25px;
            left: 135px;
      
            @media screen AND (min-width:550px)  {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  align-items: center;
            }
      }
      
      textarea, input.Card-title{
            min-width: 250px;
            border-radius: 10px;
            padding: 8px;
            font-family: $typoTexte;
      
            @media screen AND (min-width:550px)  {
                  width: 250px;
                  height: 65px;
            }
      }
      
      textarea{
            min-height: 60px;
      }
      
      & .Card-Header{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;
      
            @media screen AND (min-width:550px)  {
                  flex-direction: row;
            }
            
            h3{
                  @media screen AND (min-width: 550px) {
                        margin-right: 5px;
                  }
            }

      }
      
      .Card-cancel, .Card-save{
            @media screen AND (min-width:550px)  {
                  position: absolute;
                  right: -5px;
            }
      }
      .Card-cancel{
            @media screen AND (min-width:550px)  {
                  top: 0;
            }
      }
      .Card-save{
            @media screen AND (min-width:550px)  {
                  top: 60px;
            }
      }
      
      .Card-imgBox{
            @media screen AND (min-width:550px)  {
                  text-align: left;
            }
      }
      
      .Card-title{
            width: 250px;
      }
      
}