@import "mixins";

@keyframes underline {
      0% {
            width: 0;
            left: 100%;
      }
      50% {
            width: 100%;
            left: 50%;
      }
      100% {
            width: 100%;
            left: 50%;
      }
}


#team{
      
      p, h3{
            margin: 0;
      }
      
      p{
            font-family: $typoTexte;
      }

      & .Projet, & .Members{
            &-resume{
                  margin: 0;
                  padding: 25px;
            }
      }
      
      & .Projet{
            &-resume{
                  text-align: left;
                  max-width: 1200px;
                  margin-left: auto;
                  margin-right: auto;
            }
      }
      
      & .Members{
      
            &-img{
                  max-width: 350px;
            }
            
            &-resume{
                  font-family: $typoTitre;
                  font-size: 1.2em;
                  font-weight: 400;
            }

            &-container{
                  
                  & .Members-info{
                        &-mobile{
                        
                              @media screen AND (min-width: 750px) {
                                    display: none;
                              }
                        }
                        
                        &-desktop{
                        
                              @media screen AND (max-width: 749px) {
                                    display: none;
                              }
                        }
                  }
                  
                  & .Member{
                        padding: 15px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        row-gap: 15px;
                        max-width: 1200px;
                        margin-left: auto;
                        margin-right: auto;
                        
                        @media screen AND (min-width: 750px) {
                              padding: 30px;
                        }
                        
                        &.hidden{
                              display: none;
                        }
                        
                        &-desc{
                              text-align: left;
                        }
                        
                        &-imgList{
                              padding: 15px;
                              display: flex;
                              flex-direction: column;
                              align-content: center;
                              justify-content: center;
                              align-items: center;
                              row-gap: 15px;
                              background-color: $firstDarkColor;
                              
                              @media screen AND (min-width: 550px) {
                                    flex-wrap: wrap;
                                    column-gap: 15px;
                                    justify-content: space-evenly;
                                    padding: 40px;
                              }
                              
                              @media screen AND (min-width: 750px) {
                                    display: grid;
                                    grid-template-columns: repeat(2, 1fr);
                              }
      
                              @media screen AND (min-width: 1050px) {
                                    display: grid;
                                    grid-template-columns: repeat(4, 1fr);
                              }
                              
                              &-img{
                                    padding: 20px;
                                    
                                    &:has(img.selected){
                                          transform: scale(1.2);
                                    }
                                    
                                    img{
      
                                          max-width: 200px;
                                          max-height: 300px;
                                          padding: 20px;
      
                                          @media screen AND (min-width: 550px) {
            
                                                width: 100%;
                                                padding: 50px;
            
                                          }
                                          
                                          @media screen AND (min-width: 750px) {
                                                padding: 0;
                                                
                                                
                                                
                                          }
                                          
                                    }

                                    
                              }
                              
                        }
                        
                  }

            }
      
      }

}