@keyframes showMenu {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
@keyframes displayNav {
  0% {
    height: 0;
  }
  100% {
    height: 170px;
  }
}
@keyframes hideELt {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes showELt {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes showMenu {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
@keyframes displayNav {
  0% {
    height: 0;
  }
  100% {
    height: 170px;
  }
}
@keyframes hideELt {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes showELt {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.layout-back.Header .Header-menu-links {
  justify-content: space-around;
}

.Search .Card-create {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px;
}
.Search .Card-create.hidden {
  display: none;
}
.Search .Card-create-form {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: solid rgb(186, 161, 140);
  max-width: 300px;
}
.Search .Card-create-form.hidden {
  display: none;
}
@media screen and (min-width: 550px) {
  .Search .Card-create-form {
    text-align: left;
    padding: 15px;
    max-width: 360px;
  }
}
@media screen and (min-width: 750px) {
  .Search .Card-create-form {
    position: relative;
    max-width: 700px;
  }
}
.Search .Card-create-form .Card-create-title {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .Search .Card-create-form .ModifyForm {
    width: 100%;
  }
}
@media screen and (min-width: 750px) {
  .Search .Card-create-form .ModifyForm .group-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Search .Card-create-form .ModifyForm .group-list textarea {
    width: 300px;
  }
}
.Search .Card-create-form .ModifyForm .Card-Header {
  margin: 0;
  padding-top: 10px;
}
@media screen and (min-width: 550px) {
  .Search .Card-create-form .ModifyForm .Card-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
  }
}
.Search .Card-create-form .ModifyForm .Card-Header .Card-title {
  height: 20px;
}
@media screen and (min-width: 550px) {
  .Search .Card-create-form .ModifyForm .Card-Header .Card-title {
    position: relative;
    width: 75%;
    transform: translate(0%, 0%);
    left: 0;
    top: 10px;
  }
}
.Search .Card-create-form .ModifyForm .Card-Header-title {
  margin: 0;
  height: 20px;
}
.Search .Card-create-form .ModifyForm .Card-recipe, .Search .Card-create-form .ModifyForm .Card-desc {
  justify-content: center;
}
.Search .Card-create-button {
  width: 35px;
  height: 35px;
  padding: 10px;
  transition: 0.5s;
}
.Search .Card-create-button:hover {
  width: 40px;
  height: 40px;
  transition: 0.5s;
}
.Search .Card-create-title {
  padding-left: 5px;
  font-family: "Rift", sans-serif;
}
.Search-title {
  font-family: "Rift", sans-serif;
}
.Search .Cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 550px) {
  .Search .Cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}
.Search .Card {
  border: solid 2px;
  height: auto;
  width: 320px;
}
@media screen and (min-width: 550px) {
  .Search .Card {
    width: 360px;
    text-align: left;
    padding: 15px;
  }
}
@media screen and (min-width: 550px) {
  .Search .Card-Header {
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
  }
}
.Search .Card-modify, .Search .Card-delete, .Search .Card-cancel, .Search .Card-save {
  background-color: transparent;
  width: 35px;
  height: 35px;
  padding: 10px;
  transition: 0.5s;
}
.Search .Card-modify:hover, .Search .Card-delete:hover, .Search .Card-cancel:hover, .Search .Card-save:hover {
  width: 40px;
  height: 40px;
  transition: 0.5s;
}
.Search .Card-modify, .Search .Card-cancel {
  position: relative;
  top: 10px;
}
@media screen and (min-width: 550px) {
  .Search .Card-modify, .Search .Card-cancel {
    position: absolute;
    top: 20px;
    right: 0;
  }
}
.Search .Card-delete, .Search .Card-save {
  position: relative;
  top: 10px;
}
@media screen and (min-width: 550px) {
  .Search .Card-delete, .Search .Card-save {
    position: absolute;
    top: 80px;
    right: 0;
  }
}
.Search .Card-title {
  margin: 5px;
  position: relative;
  top: 25px;
  font-size: 1.6em;
  padding: 10px;
}
@media screen and (min-width: 550px) {
  .Search .Card-title {
    width: 100%;
    padding: 5px;
  }
}
.Search .Card-imgBox {
  padding: 10px 0;
}
@media screen and (min-width: 550px) {
  .Search .Card-imgBox {
    padding: 5px;
  }
}
.Search .Card-imgBox-img {
  padding: 5px;
  height: 100px;
  width: 300px;
}
@media screen and (min-width: 550px) {
  .Search .Card-imgBox-img {
    padding: 5px;
    width: 85%;
  }
}
.Search .Card-recipe {
  text-shadow: none;
  opacity: 100%;
  position: relative;
  top: 0;
}
.Search .Card-desc {
  text-shadow: none;
  position: relative;
  top: 0;
}
@media screen and (min-width: 550px) {
  .Search .Card-recipe, .Search .Card-desc {
    left: 0;
    transform: translateX(0%);
  }
}
.Search .Card-category, .Search .Card-recipe, .Search .Card-desc, .Search .Card-status, .Search .Card-frequency {
  display: block;
  padding: 5px 0;
}
@media screen and (min-width: 550px) {
  .Search .Card-category, .Search .Card-recipe, .Search .Card-desc, .Search .Card-status, .Search .Card-frequency {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
.Search .Card-category-title, .Search .Card-category-text, .Search .Card-recipe-title, .Search .Card-recipe-text, .Search .Card-desc-title, .Search .Card-desc-text, .Search .Card-status-title, .Search .Card-status-text, .Search .Card-frequency-title, .Search .Card-frequency-text {
  margin: 5px;
}
.Search .Card-category-text, .Search .Card-recipe-text, .Search .Card-desc-text, .Search .Card-status-text, .Search .Card-frequency-text {
  font-family: "Nunito", sans-serif, regular;
}

.Filters-magic, .Filters-category, .Filters-status, .Filters-frequency {
  width: auto;
  font-family: "Rift", sans-serif;
  color: rgb(0, 0, 0);
  display: inline;
  border: solid 1px rgb(242, 242, 242);
  border-radius: 100px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  text-align: left;
}

@keyframes showMenu {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
@keyframes displayNav {
  0% {
    height: 0;
  }
  100% {
    height: 170px;
  }
}
@keyframes hideELt {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes showELt {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
form.Card.ModifyForm {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}
form.Card.ModifyForm input {
  border: 0;
  background-color: transparent;
  color: rgb(242, 242, 242);
  font-family: "Rift", sans-serif;
  Font-weight: bold;
}
form.Card.ModifyForm input#name {
  text-align: center;
}
form.Card.ModifyForm input.Card-title {
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
  position: relative;
  top: 25px;
  left: 135px;
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm input.Card-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
form.Card.ModifyForm textarea, form.Card.ModifyForm input.Card-title {
  min-width: 250px;
  border-radius: 10px;
  padding: 8px;
  font-family: "Nunito", sans-serif, regular;
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm textarea, form.Card.ModifyForm input.Card-title {
    width: 250px;
    height: 65px;
  }
}
form.Card.ModifyForm .Card-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm .Card-cancel, form.Card.ModifyForm .Card-save {
    position: absolute;
    right: -5px;
  }
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm .Card-cancel {
    top: 0;
  }
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm .Card-save {
    top: 60px;
  }
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm .Card-imgBox {
    text-align: left;
  }
}
form.Card.ModifyForm .Card-title {
  width: 250px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(46, 50, 54);
  color: rgb(242, 242, 242);
  text-align: center;
  margin: 0;
}

h1, h2, h3, .Header {
  font-family: "Rift", sans-serif;
  Font-weight: bold;
}

h1 {
  Font-size: 2em;
}

h2 {
  Font-size: 1.6em;
}

h3 {
  Font-size: 1.2em;
}

textarea {
  resize: none;
}

.layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

button {
  width: auto;
  height: auto;
  padding: 5px 10px;
  background: linear-gradient(163deg, rgb(111, 33, 15) 38%, rgb(166, 52, 27) 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 0.5px rgba(0, 0, 0, 0.4);
  border-bottom: 0.5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 1px 3px 0 rgba(24, 27, 28, 0.94);
  border-radius: 6px;
  color: rgb(242, 242, 242);
  font-family: "Rift", sans-serif;
  font-size: 1em;
}
button:hover {
  background: linear-gradient(163deg, rgb(70, 1, 1) 38%, rgb(166, 52, 27) 100%);
}

.Card-desc, .Card-recipe {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.65);
}

.Header-logo-img source {
  display: none;
}
.Header-logo-img img {
  margin: auto;
  display: block;
  max-width: 300px;
}
@media screen and (min-width: 550px) {
  .Header-logo-img img {
    min-width: 530px;
    padding: 35px;
    max-width: 90%;
    max-height: 170px;
  }
}
@media screen and (min-width: 550px) {
  .Header-menu-burger {
    display: none;
  }
}
.Header-menu-burger.opened img {
  display: inline-block;
  width: 25px;
  margin-right: 0;
  transform: rotate(0);
}
.Header-menu-burger.opened p {
  display: block;
  Font-size: 2em;
  margin: 0;
  padding-bottom: 20px;
}
.Header-menu-burger-img {
  display: inline-block;
  width: 25px;
  transform: translateY(-5px) rotate(-90deg);
  transition: transform 500ms 0s;
}
.Header-menu-burger-title {
  font-family: "Rift", sans-serif;
  display: inline;
  Font-size: 2em;
  margin: 0;
}
.Header-menu-links {
  overflow: hidden;
  height: 0;
  transition: 0.3s;
}
@media screen and (max-width: 549px) {
  .Header-menu-links {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media screen and (min-width: 550px) {
  .Header-menu-links {
    background-color: rgba(255, 255, 255, 0.0196078431);
    box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.4588235294);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px 40px;
  }
}
.Header-menu-links-link {
  display: block;
  padding: 5px;
  color: rgb(242, 242, 242);
  text-decoration: none;
  Font-size: 1.6em;
  transform: translateY(-250px);
}
.Header-menu-links-link.selected {
  font-size: 2em;
  text-decoration: underline;
}
.Header-menu-links-link:hover {
  text-decoration: underline;
}
@media screen and (min-width: 550px) {
  .Header-menu-links-link {
    transform: none;
  }
}
@media screen and (max-width: 549px) {
  .Header-menu-links.opened {
    animation: displayNav 0.8s both;
    padding: 1.5em 0;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(4) {
    animation: showMenu 0.6s forwards;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(3) {
    animation: showMenu 0.6s 0.2s forwards;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(2) {
    animation: showMenu 0.6s 0.4s forwards;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(1) {
    animation: showMenu 0.6s 0.6s forwards;
  }
}
@media screen and (min-width: 550px) {
  .Header {
    background-color: rgb(51, 26, 17);
  }
}

.MainContent-titleWrap {
  text-align: center;
}
.MainContent-title {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 20px 5px;
  text-decoration: underline;
}
@media screen and (min-width: 550px) {
  .MainContent-title {
    background: url("../img/logoPainBlanc.svg") 7px 0 no-repeat;
    background-size: 35px;
    padding-top: 20px;
    margin-top: 35px;
  }
}
.MainContent-topBack {
  display: block;
  padding: 20px 60px;
  font-family: "Nunito", sans-serif, regular;
  font-style: italic;
  text-align: right;
  text-decoration: none;
  color: rgb(242, 242, 242);
}
.MainContent-topBack img {
  padding-left: 15px;
  padding-right: 50px;
  height: 15px;
}

.Products .Card:hover .Card-imgBox {
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(20px);
  transition: 0.5s;
}
.Products-filter-link {
  font-family: "Rift", sans-serif;
  color: rgb(242, 242, 242);
  display: inline-block;
  border: solid 1px rgb(242, 242, 242);
  border-radius: 100px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  transition: 0.8s;
}
.Products-filter-link:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  box-sizing: border-box;
  transition: 0.8s;
}
.Products-filter-link.filtered {
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
}
.Products-list {
  padding: 1em;
}
@media screen and (min-width: 750px) {
  .Products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media screen and (min-width: 1050px) {
  .Products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
  }
}

.Card {
  height: 350px;
  position: relative;
  overflow: hidden;
  margin: 20px;
  border-radius: 15px 15px 15px 15px;
}
.Card.selected .Card-desc {
  display: none;
  animation: hideELt 0.8s both;
  transition: 0.8s;
}
.Card.selected .Card-recipe {
  display: block;
  animation: showELt 0.8s both;
  transition: 0.8s;
}
.Card.unselected .Card-desc {
  display: block;
  animation: showELt 0.8s both;
  transition: 0.8s;
}
.Card.unselected .Card-recipe {
  display: none;
  animation: hideELt 0.8s both;
  transition: 0.8s;
}
.Card.modify {
  border: solid rgb(166, 52, 27);
}
.Card-imgBox {
  margin: 0;
}
.Card-imgBox-img {
  display: inline-block;
  height: 350px;
  width: 100%;
  text-align: center;
  object-fit: cover;
  Opacity: 80%;
}
.Card-title {
  margin: 0;
  width: 90%;
  padding: 5px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Card-desc {
  position: absolute;
  width: 90%;
  min-width: 200px;
  padding: 5px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.Card-desc-text {
  font-family: "Nunito", sans-serif, regular;
}
.Card-recipe {
  display: none;
  opacity: 0;
  position: absolute;
  width: 90%;
  min-width: 200px;
  padding: 5px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.Card-recipe-text {
  font-family: "Nunito", sans-serif, regular;
}

.Footer {
  background-color: rgb(51, 26, 17);
  padding: 10px;
}
.Footer a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 550px) {
  .Footer .layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.Footer-mentions {
  padding: 5px;
  color: rgb(242, 242, 242);
  font-family: "Nunito", sans-serif, regular;
  font-style: italic;
}
.Footer-mentions nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.Footer-mentions a {
  padding: 0 10px;
  color: rgb(242, 242, 242);
  text-decoration: none;
}

.SiteMap, .Services, .Localisation {
  padding: 10px;
}
.SiteMap-list-title, .Services-list-title, .Localisation-list-title {
  color: rgb(242, 242, 242);
  font-family: "Nunito", sans-serif, regular;
  display: block;
  text-decoration: none;
  padding: 5px;
}

/*# sourceMappingURL=global.css.map */
