@keyframes showMenu {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
@keyframes displayNav {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes hideELt {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showELt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes underline {
  0% {
    width: 0%;
    left: 100%;
  }
  50% {
    width: 100%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 50%;
  }
}
@keyframes showMenu {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
@keyframes displayNav {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes hideELt {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showELt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes underline {
  0% {
    width: 0%;
    left: 100%;
  }
  50% {
    width: 100%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 50%;
  }
}
.layout-back.Header .Header-menu-links {
  justify-content: space-around;
}

.Search {
  padding: 20px;
}
.Search .Card-create {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px;
}
.Search .Card-create.hidden {
  display: none;
}
.Search .Card-create-form {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: solid rgb(186, 161, 140);
  max-width: 300px;
}
.Search .Card-create-form.hidden {
  display: none;
}
@media screen and (min-width: 550px) {
  .Search .Card-create-form {
    text-align: left;
    padding: 15px;
    max-width: 360px;
  }
}
@media screen and (min-width: 750px) {
  .Search .Card-create-form {
    position: relative;
    max-width: 700px;
  }
}
.Search .Card-create-form .Card-create-title {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .Search .Card-create-form .ModifyForm {
    width: 100%;
  }
}
@media screen and (min-width: 750px) {
  .Search .Card-create-form .ModifyForm .group-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Search .Card-create-form .ModifyForm .group-list textarea {
    width: 300px;
  }
}
.Search .Card-create-form .ModifyForm .Card-Header {
  margin: 0;
  padding-top: 10px;
}
@media screen and (min-width: 550px) {
  .Search .Card-create-form .ModifyForm .Card-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
  }
}
.Search .Card-create-form .ModifyForm .Card-Header .Card-title {
  height: 20px;
}
@media screen and (min-width: 550px) {
  .Search .Card-create-form .ModifyForm .Card-Header .Card-title {
    position: relative;
    width: 75%;
    transform: translate(0%, 0%);
    left: 0;
    top: 10px;
  }
}
.Search .Card-create-form .ModifyForm .Card-Header-title {
  margin: 0;
  height: 20px;
}
.Search .Card-create-form .ModifyForm .Card-recipe, .Search .Card-create-form .ModifyForm .Card-desc {
  justify-content: center;
}
.Search .Card-create-button {
  width: 35px;
  height: 35px;
  padding: 10px;
  transition: 0.5s;
}
.Search .Card-create-button:hover {
  width: 40px;
  height: 40px;
  transition: 0.5s;
}
.Search .Card-create-title {
  padding-left: 5px;
  font-family: "Rift", sans-serif;
}
.Search-title {
  font-family: "Rift", sans-serif;
}
.Search .Cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
}
@media screen and (min-width: 550px) {
  .Search .Cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}
.Search .Card {
  border: solid 2px;
  height: auto;
  width: 320px;
  position: relative;
}
@media screen and (min-width: 550px) {
  .Search .Card {
    width: 360px;
    text-align: left;
    padding: 15px;
  }
}
@media screen and (min-width: 550px) {
  .Search .Card-Header {
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
  }
}
.Search .Card-modify, .Search .Card-delete, .Search .Card-cancel, .Search .Card-save {
  background-color: transparent;
  width: 35px;
  height: 35px;
  padding: 10px;
  transition: 0.5s;
}
.Search .Card-modify:hover, .Search .Card-delete:hover, .Search .Card-cancel:hover, .Search .Card-save:hover {
  width: 40px;
  height: 40px;
  transition: 0.5s;
}
.Search .Card-modify, .Search .Card-cancel {
  position: relative;
  top: 10px;
}
@media screen and (min-width: 550px) {
  .Search .Card-modify, .Search .Card-cancel {
    position: absolute;
    top: 70px;
    right: 0;
  }
}
.Search .Card-delete, .Search .Card-save {
  position: relative;
  top: 10px;
}
@media screen and (min-width: 550px) {
  .Search .Card-delete, .Search .Card-save {
    position: absolute;
    top: 135px;
    right: 0;
  }
}
.Search .Card-title {
  margin: 5px;
  position: relative;
  top: 25px;
  font-size: 1.6em;
  padding: 10px;
}
@media screen and (min-width: 550px) {
  .Search .Card-title {
    width: fit-content;
    padding: 5px;
  }
}
.Search .Card-imgBox {
  padding: 10px 0;
}
@media screen and (min-width: 550px) {
  .Search .Card-imgBox {
    padding: 5px;
  }
}
.Search .Card-imgBox-img {
  padding: 5px;
  height: 100px;
  width: 300px;
}
@media screen and (min-width: 550px) {
  .Search .Card-imgBox-img {
    padding: 5px;
    width: 85%;
  }
}
.Search .Card-recipe {
  text-shadow: none;
  opacity: 100%;
  position: relative;
  top: 0;
}
.Search .Card-recipe-text {
  text-align: center;
}
.Search .Card-desc {
  text-shadow: none;
  position: relative;
  top: 0;
}
@media screen and (min-width: 550px) {
  .Search .Card-recipe, .Search .Card-desc {
    left: 0;
    transform: translateX(0%);
  }
}
.Search .Card-category, .Search .Card-recipe, .Search .Card-desc, .Search .Card-status, .Search .Card-frequency, .Search .Card-localisation, .Search .Card-supply, .Search .Card-site {
  display: block;
  padding: 5px 0;
}
@media screen and (min-width: 550px) {
  .Search .Card-category, .Search .Card-recipe, .Search .Card-desc, .Search .Card-status, .Search .Card-frequency, .Search .Card-localisation, .Search .Card-supply, .Search .Card-site {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
.Search .Card-category-title, .Search .Card-category-text, .Search .Card-recipe-title, .Search .Card-recipe-text, .Search .Card-desc-title, .Search .Card-desc-text, .Search .Card-status-title, .Search .Card-status-text, .Search .Card-frequency-title, .Search .Card-frequency-text, .Search .Card-localisation-title, .Search .Card-localisation-text, .Search .Card-supply-title, .Search .Card-supply-text, .Search .Card-site-title, .Search .Card-site-text {
  margin: 5px;
  width: auto;
}
.Search .Card-category-text, .Search .Card-recipe-text, .Search .Card-desc-text, .Search .Card-status-text, .Search .Card-frequency-text, .Search .Card-localisation-text, .Search .Card-supply-text, .Search .Card-site-text {
  font-family: "Nunito", sans-serif, regular;
}

.Filters-magic, .Filters-category, .Filters-status, .Filters-frequency {
  width: auto;
  font-family: "Rift", sans-serif;
  color: rgb(0, 0, 0);
  display: inline;
  border: solid 1px white;
  border-radius: 100px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  text-align: left;
}
.Filters button {
  font-size: 1em;
}

@keyframes showMenu {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
@keyframes displayNav {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes hideELt {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showELt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes underline {
  0% {
    width: 0%;
    left: 100%;
  }
  50% {
    width: 100%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 50%;
  }
}
@media screen and (min-width: 550px) {
  #admin_product #Cards .Card {
    position: relative;
  }
}

form.Card.ModifyForm {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}
form.Card.ModifyForm input {
  border: 0;
  background-color: transparent;
  color: white;
  font-family: "Rift", sans-serif;
  Font-weight: bold;
}
form.Card.ModifyForm input#name {
  text-align: center;
  height: 20px;
  font-family: "Rift", sans-serif;
  text-shadow: none;
}
form.Card.ModifyForm input#localisation {
  font-family: "Nunito", sans-serif, regular;
  text-shadow: none;
  font-size: 0.8em;
  font-weight: initial;
}
form.Card.ModifyForm input.Card-title {
  background-color: white;
  color: rgb(0, 0, 0);
  position: relative;
  top: 25px;
  left: 135px;
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm input.Card-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
form.Card.ModifyForm textarea, form.Card.ModifyForm input.Card-title {
  min-width: 250px;
  border-radius: 10px;
  padding: 8px;
  font-family: "Nunito", sans-serif, regular;
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm textarea, form.Card.ModifyForm input.Card-title {
    width: 250px;
    height: 65px;
  }
}
form.Card.ModifyForm textarea {
  min-height: 60px;
}
form.Card.ModifyForm .Card-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm .Card-Header {
    flex-direction: row;
  }
}
form.Card.ModifyForm .Card-Header h3 {
  margin: 0;
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm .Card-cancel, form.Card.ModifyForm .Card-save {
    position: absolute;
    right: -5px;
  }
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm .Card-cancel {
    top: 0;
  }
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm .Card-save {
    top: 60px;
  }
}
@media screen and (min-width: 550px) {
  form.Card.ModifyForm .Card-imgBox {
    text-align: left;
  }
}
form.Card.ModifyForm .Card-title {
  width: 250px;
}

@keyframes showMenu {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
@keyframes displayNav {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes hideELt {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showELt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes underline {
  0% {
    width: 0%;
    left: 100%;
  }
  50% {
    width: 100%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 50%;
  }
}
@media screen and (min-width: 750px) {
  .Home .CTA {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 550px) {
  .Home .MainContent-slogan {
    font-size: 1.8em;
  }
  .Home .MainContent-slogan.Citation {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 750px) {
  .Home .MainContent-slogan {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2em;
  }
  .Home .MainContent-slogan.Citation {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1050px) {
  .Home .MainContent-slogan {
    font-size: 2.4em;
  }
  .Home .MainContent-slogan.Citation {
    display: flex;
    flex-direction: column;
  }
}
.Home .MainContent-slogan .MainContent-slogan.Citation {
  display: flex;
  flex-direction: column;
}
.Home-header {
  background-image: url("../img/painsHeader.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 550px) {
  .Home-header {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 550px) {
  .Home-header {
    min-height: 400px;
  }
}
@media screen and (min-width: 750px) {
  .Home-header {
    background-color: rgba(0, 0, 0, 0.3);
    height: 490px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1050px) {
  .Home-header {
    max-width: 1050px;
    margin: 95px auto 10px auto;
    font-size: 1.8em;
  }
}
@media screen and (min-width: 550px) {
  .Home-header:hover .Home-header-slogan {
    font-size: 3.6em;
    transition: 0.4s;
    max-width: 620px;
    padding: 30px;
  }
}
@media screen and (min-width: 750px) {
  .Home-header:hover .Home-header-slogan {
    font-size: 2.6em;
    transition: 0.4s;
    max-width: 620px;
    padding: 30px;
  }
}
.Home-header-slogan {
  color: white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.65);
  font-family: "Rift", sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding: 10px 20px;
  position: relative;
  transition: 0.4s;
}
@media screen and (min-width: 550px) and (max-width: 1050px) {
  .Home-header-slogan {
    font-size: 2.6em;
    max-width: 475px;
    padding: 0;
  }
}
@media screen and (min-width: 1050px) {
  .Home-header-slogan {
    max-width: 640px;
    padding: 0;
  }
}
.Home-sections {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 5px;
  box-shadow: 0 9px 15px 2px rgba(0, 0, 0, 0.2);
  margin: 45px auto;
}
@media screen and (min-width: 550px) {
  .Home-sections {
    flex-direction: row;
    padding: 20px 0px;
    justify-content: space-evenly;
  }
}
.Home-sections-title {
  padding: 5px;
  text-decoration: none;
  font-family: "Rift", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}
@media screen and (min-width: 550px) {
  .Home-sections-title {
    padding: 25px 5px 5px 5px;
  }
}
.Home-sections-title-selected {
  text-decoration: underline;
  font-family: "Rift", sans-serif;
  font-size: 1.4em;
  background: url(../img/logoPainNoir.png) 35px 10px no-repeat;
  background-size: 35px;
  padding: 5px 80px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
@media screen and (min-width: 550px) {
  .Home-sections-title-selected {
    padding: 25px 5px 5px 5px;
    background: url(../img/logoPainNoir.png) 7px 2px no-repeat;
    background-size: 35px;
  }
}
.Home .Section-equipe, .Home .Section-savoir_faire, .Home .Section-gamme, .Home .Section-valeurs, .Home .Section-partenaires {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
}
.Home .Section-equipe-title, .Home .Section-savoir_faire-title, .Home .Section-gamme-title, .Home .Section-valeurs-title, .Home .Section-partenaires-title {
  font-family: "Rift", sans-serif;
}
.Home .Section-equipe-imgBox, .Home .Section-savoir_faire-imgBox, .Home .Section-gamme-imgBox, .Home .Section-valeurs-imgBox, .Home .Section-partenaires-imgBox {
  max-height: 280px;
}
.Home .Section-equipe-imgBox-img, .Home .Section-savoir_faire-imgBox-img, .Home .Section-gamme-imgBox-img, .Home .Section-valeurs-imgBox-img, .Home .Section-partenaires-imgBox-img {
  max-width: 325px;
  max-height: 215px;
  border-radius: 15px 15px 15px 15px;
}
.Home .Section-equipe-imgBox-legend, .Home .Section-savoir_faire-imgBox-legend, .Home .Section-gamme-imgBox-legend, .Home .Section-valeurs-imgBox-legend, .Home .Section-partenaires-imgBox-legend {
  font-family: "Nunito", sans-serif, regular;
  font-style: italic;
  padding: 10px;
}
.Home .Section-equipe-desc, .Home .Section-savoir_faire-desc, .Home .Section-gamme-desc, .Home .Section-valeurs-desc, .Home .Section-partenaires-desc {
  font-family: "Nunito", sans-serif, regular;
  padding: 10px 15px;
  font-size: 0.9em;
}
.Home .Section-equipe .CTA, .Home .Section-savoir_faire .CTA, .Home .Section-gamme .CTA, .Home .Section-valeurs .CTA, .Home .Section-partenaires .CTA {
  margin: 5px auto;
}
@media screen and (min-width: 750px) {
  .Home .Section-equipe, .Home .Section-gamme {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 750px) {
  .Home .Section-equipe-title, .Home .Section-gamme-title {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 750px) {
  .Home .Section-equipe-desc, .Home .Section-gamme-desc {
    font-size: 1.2em;
    line-height: 2;
    text-align: start;
    padding: 20px;
    margin: 0;
  }
}
@media screen and (min-width: 550px) {
  .Home .Section-savoir_faire-desc {
    padding: 10px 50px;
    font-size: 1.2em;
  }
}
.Home .Section-savoir_faire .CompanySlider {
  width: 100%;
  overflow: hidden;
}
.Home .Section-savoir_faire .CompanySlider .slide-container {
  width: 100%;
  display: flex;
  transition: transform 0.4s ease-in-out 0s;
  transform: translateX(0);
}
.Home .Section-savoir_faire .CompanySlider-imgBox {
  flex-shrink: 0;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .Home .Section-savoir_faire .CompanySlider-imgBox {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .Home .Section-savoir_faire .CompanySlider-imgBox {
    width: 33.33%;
  }
}
.Home .Section-savoir_faire .CompanySlider-imgBox-img {
  max-width: 325px;
  max-height: 215px;
  border-radius: 15px 15px 15px 15px;
}
.Home .Section-savoir_faire .CompanySlider-imgBox-legend {
  margin: 0;
  font-family: "Nunito", sans-serif, regular;
  font-style: italic;
  padding: 10px;
}
.Home .Section-gamme #sliderProduct.card-transition {
  transition: opacity 1s ease-in-out;
}
.Home .Section-gamme #sliderProduct .Card {
  height: 460px;
  width: 460px;
}
.Home .Section-gamme #sliderProduct .Card-desc {
  bottom: 300px;
}
.Home .Section-gamme #sliderProduct .Card-recipe {
  bottom: 250px;
}
.Home .Section-gamme-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.Home .Section-valeurs .circle {
  background-color: rgb(51, 26, 17);
  color: white;
  border-radius: 50% 50% 0% 0%;
}
@media screen and (min-width: 550px) {
  .Home .Section-valeurs .circle {
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    overflow: hidden;
    min-height: 250px;
  }
}
@media screen and (min-width: 750px) {
  .Home .Section-valeurs .circle {
    min-height: 430px;
  }
}
.Home .Section-valeurs-desc {
  padding: 10px 50px;
}
@media screen and (min-width: 550px) {
  .Home .Section-valeurs-desc {
    padding: 10px 10%;
    position: relative;
    top: 5%;
  }
}
@media screen and (min-width: 750px) {
  .Home .Section-valeurs-desc {
    line-height: 2;
    font-size: 1.2em;
    top: 50px;
  }
}
.Home .Section-valeurs-title {
  margin: 0;
  padding-top: 60px;
}
@media screen and (min-width: 750px) {
  .Home .Section-valeurs-title {
    padding-top: 100px;
  }
}
.Home .Section-valeurs-certifications {
  width: 100%;
  background-color: rgb(186, 161, 140);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 750px) {
  .Home .Section-valeurs-certifications {
    justify-content: space-evenly;
  }
}
.Home .Section-valeurs-certifications-img {
  height: 80px;
  padding: 10px;
}
.Home .Section-partenaires {
  background-color: rgb(166, 52, 27);
  font-family: "Rift", sans-serif;
  color: white;
}
.Home .Section-partenaires-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.Home .Section-partenaires-list-supplier {
  margin: 0;
  padding: 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  position: relative;
}
.Home .Section-partenaires-list-supplier::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}
.Home .Section-partenaires-list-supplier:hover {
  font-size: 1.4em;
}
.Home .Section-partenaires-list-supplier:hover::before {
  animation: underline 0.8s ease-out;
  animation-fill-mode: forwards;
}

@keyframes showMenu {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
@keyframes displayNav {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes hideELt {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showELt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes underline {
  0% {
    width: 0%;
    left: 100%;
  }
  50% {
    width: 100%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 50%;
  }
}
.Partenaire {
  font-family: "Nunito", sans-serif, regular;
  font-size: 1em;
}
.Partenaire-modify img.Card-modify, .Partenaire-modify img.Card-delete, .Partenaire-delete img.Card-modify, .Partenaire-delete img.Card-delete {
  position: initial;
}

#admin_company .Card-title {
  margin: 0;
  width: fit-content;
  height: auto;
}
@media screen and (min-width: 750px) {
  #admin_company .ModifyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 550px) {
  #admin_company .ModifyForm .Card-Header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
#admin_company .ModifyForm .Card-desc {
  justify-content: left;
}
@media screen and (min-width: 750px) {
  #admin_company .ModifyForm .Card-Header, #admin_company .ModifyForm .Card-localisation, #admin_company .ModifyForm .Card-supply, #admin_company .ModifyForm .Card-desc, #admin_company .ModifyForm .Card-site {
    flex-direction: column;
    align-items: center;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F2F2F2;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
}

h1, h2, h3, .Header {
  font-family: "Rift", sans-serif;
  Font-weight: bold;
}

h1 {
  Font-size: 2em;
}

h2 {
  Font-size: 1.6em;
}

h3 {
  Font-size: 1.2em;
}

textarea {
  resize: none;
}

.layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

button, .CTA {
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 5px 10px;
  background: linear-gradient(163deg, rgb(111, 33, 15) 38%, rgb(166, 52, 27) 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 0.5px rgba(0, 0, 0, 0.4);
  border-bottom: 0.5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 1px 3px 0 rgba(24, 27, 28, 0.94);
  border-radius: 6px;
  color: rgb(242, 242, 242);
  font-family: "Rift", sans-serif;
  font-size: 1em;
}
@media screen and (min-width: 750px) {
  button, .CTA {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 750px) {
  button, .CTA {
    font-size: 1.4em;
  }
}
button:hover, .CTA:hover {
  background: linear-gradient(163deg, rgb(70, 1, 1) 38%, rgb(166, 52, 27) 100%);
}

.Header {
  background-color: #2E3236;
  color: white;
}
.Header-logo-img source {
  display: none;
}
.Header-logo-img img {
  margin: auto;
  display: block;
  max-width: 300px;
}
@media screen and (min-width: 550px) {
  .Header-logo-img img {
    min-width: 450px;
    padding: 35px;
    max-width: 75%;
    max-height: 170px;
  }
}
.Header-menu-burger {
  padding: 15px;
}
@media screen and (min-width: 550px) {
  .Header-menu-burger {
    display: none;
  }
}
.Header-menu-burger.opened {
  padding: 0;
}
.Header-menu-burger.opened img {
  display: inline-block;
  width: 25px;
  margin-right: 0;
  transform: rotate(0);
}
.Header-menu-burger.opened p {
  display: block;
  Font-size: 2em;
  margin: 0;
}
.Header-menu-burger-img {
  display: inline-block;
  width: 25px;
  transform: translateY(-5px) rotate(-90deg);
  transition: transform 500ms 0s;
}
.Header-menu-burger-title {
  font-family: "Rift", sans-serif;
  display: inline;
  Font-size: 2em;
  margin: 0;
}
.Header-menu-links {
  overflow: hidden;
  height: 0;
  transition: 0.3s;
}
@media screen and (max-width: 549px) {
  .Header-menu-links {
    background-color: #2E3236;
  }
}
@media screen and (min-width: 550px) {
  .Header-menu-links {
    background-color: rgba(255, 255, 255, 0.0196078431);
    box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.4588235294);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px 40px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 550px) {
  .Header-menu-links .Admin-nav {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
  }
}
.Header-menu-links-link {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  Font-size: 1.4em;
  transform: translateY(-250px);
}
.Header-menu-links-link.selected {
  font-size: 1.6em;
  text-decoration: underline;
}
.Header-menu-links-link:hover {
  text-decoration: underline;
}
@media screen and (min-width: 550px) {
  .Header-menu-links-link {
    transform: none;
  }
}
@media screen and (max-width: 549px) {
  .Header-menu-links.opened {
    animation: displayNav 0.8s both;
    padding: 1.5em 0;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(7) {
    animation: showMenu 0.6s 0s forwards;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(6) {
    animation: showMenu 0.6s 0.2s forwards;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(5) {
    animation: showMenu 0.6s 0.4s forwards;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(4) {
    animation: showMenu 0.6s 0.6s forwards;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(3) {
    animation: showMenu 0.6s 0.8s forwards;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(2) {
    animation: showMenu 0.6s 1s forwards;
  }
  .Header-menu-links.opened .Header-menu-links-link:nth-child(1) {
    animation: showMenu 0.6s 1.2s forwards;
  }
}
@media screen and (min-width: 550px) {
  .Header {
    background-color: #2E3236;
  }
}

.MainContent-titleWrap {
  text-align: center;
}
.MainContent-title {
  display: inline-block;
  text-align: center;
  padding: 20px 5px;
  text-decoration: underline;
}
@media screen and (min-width: 550px) {
  .MainContent-title {
    background: url("../img/logoPainNoir.png") 7px 8px no-repeat;
    background-size: 70px;
    padding-top: 45px;
    margin-top: 45px;
  }
}
.MainContent-slogan {
  margin: 25px 0;
  padding: 45px;
  background-color: rgb(166, 52, 27);
  color: white;
  font-family: "Rift", sans-serif;
  font-size: 1.4em;
  width: auto;
}
.MainContent-slogan-title {
  margin: 0;
  padding: 5px;
}
.MainContent-topBack {
  display: block;
  padding: 40px 60px;
  font-family: "Nunito", sans-serif, regular;
  font-style: italic;
  text-align: right;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.MainContent-topBack img {
  padding-left: 15px;
  padding-right: 50px;
  height: 15px;
}

.Products .Card {
  overflow: hidden;
  max-height: 460px;
}
.Products .Card:hover .Card-imgBox, .Products .Card.selected .Card-imgBox {
  backdrop-filter: blur(20px);
  transition: 0.5s;
}
.Products .Card:hover .Card-recipe, .Products .Card.selected .Card-recipe {
  display: block;
  animation: showELt 0.8s both;
  transition: 0.8s;
  background-color: rgba(255, 255, 255, 0.32);
  backdrop-filter: blur(4px);
  position: relative;
  bottom: 135px;
}
.Products .Card:hover .Card-recipe-title, .Products .Card.selected .Card-recipe-title {
  font-family: "Rift", sans-serif;
  position: absolute;
  top: -45px;
  color: white;
}
.Products .Card:hover .Card-recipe-text, .Products .Card.selected .Card-recipe-text {
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  min-height: 60px;
}
.Products-filter-link {
  font-family: "Rift", sans-serif;
  background-color: rgb(166, 52, 27);
  color: white;
  display: inline-block;
  border: solid 1px white;
  border-radius: 100px;
  padding: 5px 10px;
  margin: 15px;
  text-decoration: none;
  transition: 0.8s;
}
.Products-filter-link:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  box-sizing: border-box;
  transition: 0.8s;
}
.Products-filter-link.filtered {
  background-color: #2E3236;
  color: white;
}
.Products-list {
  padding: 1em;
}
@media screen and (min-width: 750px) {
  .Products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media screen and (min-width: 1050px) {
  .Products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
  }
}

.Card {
  padding: 20px;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
}
.Card.modify {
  border: solid rgb(166, 52, 27);
}
.Card-imgBox {
  margin: 0;
}
.Card-imgBox-img {
  display: inline-block;
  height: 350px;
  width: 100%;
  text-align: center;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
}
.Card-imgBox-img.hidden {
  display: none;
  opacity: 0;
}
.Card-title {
  margin: 0;
  width: 100%;
  padding: 5px;
}
.Card-desc {
  width: 100%;
  font-family: "Nunito", sans-serif, regular;
  min-height: 75px;
}
.Card-desc-text {
  margin: 0;
  padding: 5px;
}
.Card-desc-frequency {
  padding: 5px;
  margin: 0;
  font-style: italic;
  font-size: 0.9em;
}
.Card-recipe {
  display: none;
  opacity: 0;
  position: relative;
  bottom: 135px;
  width: 90%;
  min-width: 200px;
  padding: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.Card-recipe-text {
  font-family: "Nunito", sans-serif, regular;
  text-align: left;
}

.Footer {
  background-color: #2E3236;
  color: white;
  padding: 10px;
}
.Footer a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 550px) {
  .Footer .layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.Footer-mentions {
  padding: 5px;
  color: white;
  font-family: "Nunito", sans-serif, regular;
  font-style: italic;
}
.Footer-mentions nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.Footer-mentions a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.SiteMap, .Services, .Localisation {
  padding: 10px;
}
.SiteMap-list-title, .Services-list-title, .Localisation-list-title {
  margin: 0;
  color: white;
  font-family: "Nunito", sans-serif, regular;
  display: block;
  text-decoration: none;
  padding: 5px;
}

/*# sourceMappingURL=global.css.map */
